
<div *ngIf="bolean">
<img  src="assets/img/hotel.jpg" alt="hola" >


<ion-button [routerLink]="['/calificacion', habitacion$.id]" routerLinkActive="router-link-active"  expand="block" >calificar </ion-button>



<ion-list *ngFor="let calificacion of calificaciones" >

  <ion-item>
    <ion-avatar slot="start">
      <ion-icon name="person-circle"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h3>  {{calificacion.nombres}}</h3>
      <p>{{calificacion.fecha}}<p>
      <p>{{calificacion.comentario}}</p>
    </ion-label>
  </ion-item>



</ion-list>

</div>

