

 <div *ngIf="loading">
  <ion-progress-bar type="indeterminate"></ion-progress-bar>
</div>



<ion-list  >

  <ion-item>
    <ion-avatar slot="start">
      <img src="./avatar-finn.png" />
    </ion-avatar>
    <ion-label>
     {{user.nombres}}
      <h3>I'm a big deal</h3>
      <p>{{calificacion.comentario}}</p>
    </ion-label>
  </ion-item>

</ion-list>



<script>
  const searchbar = document.querySelector('ion-searchbar');
  const items = Array.from(document.querySelector('ion-list').children);

  searchbar.addEventListener('ionInput', handleInput);

  function handleInput(event) {
    const query = event.target.value.toLowerCase();
    requestAnimationFrame(() => {
      items.forEach((item) => {
        const shouldShow = item.textContent.toLowerCase().indexOf(query) > -1;
        item.style.display = shouldShow ? 'block' : 'none';
      });
    });
  }
</script>

