



  <ion-card style="text-align: center;" *ngFor="let hotel of hoteles">


  
    
  
    <ion-card-header>
      
    
      <ion-card-title>{{hotel.nombre}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>

      <a [routerLink]="['/habitaciones', hotel.id]" routerLinkActive="router-link-active">

        <img  src="assets/img/hotel.jpg" alt="hola" >
      </a>

      <p><strong>direccion:{{hotel.direccion}}</strong> </p>

      <div style="text-align: center;">
        <div class="ec-stars-wrapper " >
          <a routerLink="/home"     >&#9733;</a>
          <a routerLink="/home"    >&#9733;</a>
          <a routerLink="/home"    >&#9733;</a>
          <a routerLink="/home"    >&#9733;</a>
          <a routerLink="/home"    >&#9733;</a>    
        </div>
        
        </div>

      
  
      

  
  
    </ion-card-content>
  
   
  </ion-card>
  
    
  


