
<div novalidate [formGroup]="form"   #f="ngForm">

  



  <ion-item>
    <ion-icon name="person-outline"></ion-icon>
    <ion-input formControlName="email" placeholder="gmail"></ion-input>
  </ion-item>
  
  <div *ngIf="form.controls['email'].errors" >
    <ion-text *ngIf="form.controls['email'].errors['required']" color="danger">*Campo requerido</ion-text>
    <ion-text *ngIf="form.controls['email'].errors['email']" color="danger">*Ingresa correo electronico</ion-text>

  
  </div>
  
  
  <ion-item>
    <ion-icon name="lock-closed-outline"></ion-icon>
    <ion-input formControlName="password" placeholder="Password" type="password"></ion-input>
  </ion-item>
  <div *ngIf="form.controls['password'].errors">
    <ion-text *ngIf="form.controls['password'].errors['required']" color="danger">*Campo requerido</ion-text>
   
 
  
  
  </div>
  
    
  <section>
    <ion-button expand="block" [disabled]="f.invalid" class="mat-flat-button"  (click)="create(form.value)">create</ion-button>
  </section>

  <div>

    <a [routerLink]="['/verify']" routerLinkActive="router-link-active">change password</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a [routerLink]="['/crear-user']" routerLinkActive="router-link-active">crear usuario</a> 

  </div>
  
  
  
  </div>

  