


  


<ion-menu side="start" content-id="main-content">
  <ion-header>
    <ion-toolbar translucent>
      <ion-title>Menu</ion-title>
      
      <ion-toolbar class="navigate">
       
      
      </ion-toolbar>
      
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
     
      <ion-item>
        <ion-icon name="storefront"></ion-icon>&nbsp;
        <a [routerLink]="['/home']" routerLinkActive="router-link-active" > 
        <ion-label>Home</ion-label>
        </a>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>

    <ion-toolbar>

      <app-navbar ></app-navbar>

    </ion-toolbar>

     

      
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    
    
 

    <app-list-habitacion *ngFor="let habitacion of habitaciones " [habitacion$]="habitacion" [calificaciones$]="calificaciones"></app-list-habitacion>

  </ion-content>
</div>


