
  <script type="module">
    import { alertController } from 'https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/index.esm.js';
    window.alertController = alertController;
  </script>



<div novalidate [formGroup]="form"   #f="ngForm">
    
<ion-item>

  <ion-select interface="popover" formControlName="id_hotel" >
    <ion-select-option value={{hotel.id}} *ngFor="let hotel of hoteles$">{{hotel.nombre}}</ion-select-option>
   
  </ion-select>


</ion-item>

  
<div *ngIf="form.controls['id_hotel'].errors" >
  <ion-text *ngIf="form.controls['id_hotel'].errors['required']" color="danger">*Campo requerido</ion-text>


</div>

  <ion-item>
    
    <ion-input formControlName="nombre" placeholder="nombre del hotel"></ion-input>
  
  
  </ion-item>

  
  
  <ion-item>
  
    <ion-input type="number" formControlName="valor" placeholder="valor de la habitacion"></ion-input>
   
  
  </ion-item>
  <div *ngIf="form.controls['valor'].errors">
    <ion-text *ngIf="form.controls['valor'].errors['required']" color="danger">*Campo requerido</ion-text>
    <ion-text *ngIf="form.controls['valor'].errors['pattern']" color="danger">*campo numerico</ion-text>
  
  
  </div>
  
  <ion-item>


    <ion-textarea  formControlName="descripcion" placeholder="describa  la habitacion">


    </ion-textarea>
  </ion-item>

  
  <div *ngIf="form.controls['descripcion'].errors" >
    <ion-text *ngIf="form.controls['descripcion'].errors['required']" color="danger">*Campo requerido</ion-text>
    <ion-text *ngIf="form.controls['descripcion'].errors['minlength']" color="danger">*Debe tener almenos 50 letras</ion-text>
  
  
  </div>
  
  
  <ion-item>
    <div class="container-input-file">
      <label class="custom-file">
          <input formControlName="img"  type="file"  (change)="handleImage($event)"/>
          <ion-icon name="cloud-upload-outline" ></ion-icon>&nbsp; <span>CHOOSE IMAGE</span>
      </label>
  </div>&nbsp;&nbsp;
  
  <div *ngIf="form.controls['img'].errors">
    <ion-text *ngIf="form.controls['img'].errors['required']" color="danger">*Campo requerido</ion-text>
  
  
  </div>
  
  <div *ngIf="previsualizacion">
  
    <img width="100px" [src]="previsualizacion" alt="">
  
  </div>
  
  </ion-item>
  
  
  
  
    <ion-button expand="block" [disabled]="f.invalid" class="mat-flat-button"  (click)="create(form.value)">create</ion-button>
  
  
   
  
  
  </div>

 
  <script>
    const button = document.getElementById('button');
    button.addEventListener('click', handleButtonClick);
  
    async function handleButtonClick() {
      const alert = await alertController.create({
        header: 'Use this lightsaber?',
        message: 'Do you agree to use this lightsaber to do good across the galaxy?',
        buttons: ['Disagree', 'Agree'],
      });
  
      await alert.present();
  
    }
  </script>
  
