<ion-header>
  <ion-toolbar>
    <ion-title>calificar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card style="text-align: center;">
    <ion-card-header>
    
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content >

      <ion-img style="padding-left: 100px;"   src="C:\Users\Usuario\Downloads\1642532350511.jpg" alt="habitacion"><a [routerLink]="['/habitaciones']" routerLinkActive="router-link-active"></a> </ion-img>
      

    </ion-card-content>
  
    <a  [routerLink]="['/login']" routerLinkActive="router-link-active">login</a> 
  </ion-card>
  

  <ion-list>
  

    <ion-item>
      <ion-avatar slot="start">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>Finn</h2>
        <h3>I'm a big deal</h3>
        <p>Listen, I've had a pretty messed up day...</p>
      </ion-label>
    </ion-item>

      </ion-list>

  
</ion-content>
