


<ion-menu side="start" content-id="main-content">
  <ion-header>
    <ion-toolbar translucent>
    
      
      <ion-toolbar class="navigate">
       
      
      </ion-toolbar>
      
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-icon name="business"></ion-icon>&nbsp;
       <a [routerLink]="['/crear-hotel']" routerLinkActive="router-link-active" > 
        <ion-label>crear hotel</ion-label>

      </a>
      </ion-item>

      <ion-item>
        <ion-icon name="person"></ion-icon>&nbsp;
       <a [routerLink]="['/table-habitaciones']" routerLinkActive="router-link-active" > 
        <ion-label>lista de usuarios</ion-label>

      </a>
      </ion-item>

      <ion-item>
        <ion-icon name="person"></ion-icon>&nbsp;
       <a [routerLink]="['/table-hotel']" routerLinkActive="router-link-active" > 
        <ion-label>lista de hoteles</ion-label>

      </a>
      </ion-item>

      <ion-item>
        <ion-icon name="newspaper"></ion-icon>&nbsp;
       <a [routerLink]="['/table-habitaciones']" routerLinkActive="router-link-active" > 
        <ion-label>lista de habitaciones</ion-label>

      </a>
      </ion-item>

      <ion-item>
        <ion-icon name="home"></ion-icon>&nbsp;
        <a [routerLink]="['/crear-habitacion']" routerLinkActive="router-link-active" > 
        <ion-label>crear habitacion</ion-label>
        </a>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <app-navbar></app-navbar>
      
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    
    
    <app-hotel *ngFor="let hotel of hoteles" [hotel]="hotel" [loading]="loading"></app-hotel>

  </ion-content>
</div>

