<ion-header>
  <ion-toolbar>
    <ion-title>crear_hotel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-card style="text-align: center;">

<ion-card-content>


  <form action="">
    <div class="container-input-file">
      <label class="custom-file">
          <input  type="file" name="imagen" (change)="handleImage($event)"/>
          <ion-icon name="cloud-upload-outline" ></ion-icon> <span>CHOOSE IMAGE</span>
      </label>
  </div>
</form>



</ion-card-content>
</ion-card>

</ion-content>