<ion-header [translucent]="true">
  <ion-toolbar>
    <app-navbar >

    </app-navbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
    
  </ion-header>

  <ion-card style="text-align: center;">
    <ion-card-header>
    
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>

      <ion-img  style="padding-left: 100px;"   src="C:\Users\Usuario\Downloads\1642532350511.jpg" alt="habitacion"><a [routerLink]="['/habitaciones']" routerLinkActive="router-link-active"></a> </ion-img>
      

    </ion-card-content>
  
    <a  [routerLink]="['/login']" routerLinkActive="router-link-active">login</a> 
  </ion-card>
  
    
  

</ion-content>
